






<div class='top-div'>

<h4>Hello Welcome, Login To See Your Notes</h4>

<h2><%=link_to 'login', login_path%></h2>
<h4>New User? Create A User</h4>

<h2><%= link_to 'Sign Up', new_person_path%></h2>


<header class='clearfix'>
 
    <ul>
      <li><%= link_to "Come see all your notes, be happy and smile real big!!!!!!!!", new_person_path %></li>
    </ul>

</header>

</div>