<div class='top-div'>

<h1>Hello Welcome, Login To See Your Notes</h1>
<%=link_to 'login', login_path%>

<h1>New User? Create A User</h1>
<%= link_to 'Sign Up', new_person_path%>


<header class='clearfix'>
 
    <ul>
      <li><%= link_to "Come see all your notes, be happy and smile real big!!!!!!!!", new_person_path %></li>
    </ul>

</header>

</div>